html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  margin: auto;
  font-family: "Inter", sans-serif;;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: #000;
  background-color: #000;
}

h2 {
  display: flex;
  position: relative;
  justify-content: center;
  color: #0C0C0E;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
  margin: 0;
}

h2::after {
  display: flex;
  flex-shrink: 0;
  content: " ";
  background: #0C0C0E;
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -20px;
}

/* Header style start */

.header-title {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  flex-grow: 1;
}

h1 {
  color: #fff;
  font-family: "Forum", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0C0C0E;
}

.header-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  height: 50px;
}

.header-item {
  margin-left: 30px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  letter-spacing: 0.01px;
}

.header-item:first-child {
  margin-right: 0;
}

.header-login {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;;
}

.header-link {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover, .header-link:focus, .header-link:active {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

/* Header style end */


/* Welcome style start */

.welcome-bg {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background: url(Welcome.jpg) no-repeat center;
  background-size: cover;
}

.welcome-plate {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 220px;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0E;
}

.welcome-plate-text {
  color: #fff;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Welcome style end */

.main-info {
  box-sizing: border-box;
  width: 1440px;
  margin: auto;
  background-color: #fff;
  margin-top: 0;
}

/* About style start */

.about-library {
  text-align: center;
  margin-top: 60px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}


.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 78px;
  height: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.page-buttons-bg {
  position: relative;
  height: 26px;
  width: 26px;
  background-color: #ffffff00;
}

.page-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  display: inline-block;
}

.page-buttons-bg:hover {
  cursor: pointer;
  .page-buttons {
    background-color: #BB945F;
    transition-duration: 1s;
  }
}


/* About style end */

/* Favorites style start */

.favorites-choice {
  color: #000;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-top: 62px;
  margin-bottom: 35px;
}

.radio-choice {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  height: auto;
  margin-left: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
  font-weight: 400;
}

.button-bg {
  padding: 5px 0 5px 5px;
  width: 115px;
  margin-right: 80px;
}

.button-bg:nth-child(2) {
  width: 110px;
}

.button-bg:nth-child(3) {
 width: 125px;
}

.button-bg:last-child {
  width: 125px;
  margin-right: 0;
}

.button-bg:hover, .button-bg:focus {
  cursor: pointer;
}

.season-label {
  margin-left: 15px;
}

.radio-style {
  width: 17px;
  height: 17px;
}

.radio-style:hover, label:hover {
  cursor: pointer;
}

input[type="radio"] {
	appearance: none;
}

input[type="radio"] {
	appearance: none;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #000;
}

input:checked ~ span {
  font-weight: 700;
}

.book-list-winter, .book-list-spring, .book-list-summer, .book-list-autumn {
  display: flex;
  width: 1400px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 35px;
}

.book-list-spring, .book-list-summer, .book-list-autumn  {
  display: none;
}

.book {
  position: relative;
  width: 550px;
  height: 555px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.staff-picks {
  position: relative;
  font-family: "Forum", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0;
  margin-top: 0;
}

.staff-picks::after {
  display: flex;
  flex-shrink: 0;
  content: " ";
  background: #BB945F;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: -1px;
}

.book-name {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.book-author {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
}

.book-description {
  width: 357px;
  margin-bottom: 60px;
  margin-right: 15px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.buy-button, .own-button {
  box-sizing: border-box;
  padding: 9px 27px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  background-color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  cursor: pointer;
}

.buy-button:hover, .signlog-button:hover, .submit-button:hover {
  background-color: #BB945F;
  border: none;
  transition-duration: 2s;
}

.own-button {
  padding: 9px 25px;
  border: 1px solid #BB945F;
  color: #BB945F;
  cursor: auto;
}

.book-cover {
  position: absolute;
  bottom: 0;
  right: -40px;
  bottom: -1px
}

/* Favorites style end */

/* Coffee shop style start */

.coffee-shop {
  box-sizing: border-box;
  width: 1440px;
  padding: 0 20px;
}

.shop-description {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  margin-top: 60px;
  margin-bottom: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.coffee-header {
  flex-grow: 1;
  margin-bottom: 20px;
  color: #BB945F;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
}

.dessert-header {
  text-align: right;
  margin-bottom: 20px;
  margin-right: 0;
  color: #BB945F;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.coffee-items {
  width: 438px;
  height: 480px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.dessert-items {
  width: 482px;
  height: 480px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

.coffee-item {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  width: 200px;
}

.dessert-item {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: end;
}

.line::after {
  box-sizing: border-box;
  margin-top: 20px;
  display: block;
  flex-shrink: 0;
  content: " ";
  text-align: center;
  background: #BB945F;
  width: 100px;
  height: 1px;
}

.dessert-line::after {
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 57px;
  display: block;
  flex-shrink: 0;
  content: " ";
  text-align: center;
  background: #BB945F;
  width: 100px;
  height: 1px;
}

.price {
  font-family: "Forum", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.dessert-price {
  font-family: "Forum", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 60px;
}

/* Coffee shop style end */


/* Our contacts style start */

.contacts {
  padding-left: 20px;
}

.our-contacts {
  box-sizing: border-box;
  width: 1420px;
  text-align: center;
  margin-bottom: 40px;
  padding-right: 40px;
  padding-left: 20px;
}

.contact-heading {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.phone-numbers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

li:last-child {
  margin-bottom: 40px;
}

#senior-staff {
  margin-bottom: 20px;
}

.phone-link {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}

.phone-link:hover, .phone-link:focus, .phone-link:active {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

.director {
  letter-spacing: 2px;
  text-transform: capitalize;
}

.amanda-link {
  color: #000;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}

.amanda-link:hover, .amanda-link:focus, .amanda-link:active {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

.contacts-area {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 27px;
  transition-duration: 2s;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
  padding: 0;
}

.google-map iframe {
  height: 414px;
  width: 696px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 0;
}

/* Our contacts style end */


/* Digital library cards style start */

.library-card {
  box-sizing: border-box;
  padding-bottom: 40px;
  width: 1440px;
}


.cards {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1440px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.find {
  font-size: 30px;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 27px;
}

.find-card {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 94px;
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  background: #fff;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-lines {
  box-sizing: border-box;
  width: 557px;
  height: 272px;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 20px;
  background: #BB945F;
}

.bpl-card {
  margin: 0px;
  padding: 0;
  font-family: "Forum", cursive;
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.card-form {
  margin: 0;
  padding: 0;
}

.lines {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

#user-name, #card-number {
  box-sizing: border-box;
  padding-left: 20px;
  width: 520px;
  height: 66px;
  border-radius: 10px;
  border-color: #BB945F;
  background: #fff;
  color: #8E8E8E;
  font-family: "Forum", cursive;
  font-size: 30px;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

#user-name {
  margin-top: 20px;
}

#card-number {
  position: absolute;
  bottom: 115px;
}

.submit-button {
  box-sizing: border-box;
  padding: 10px 40px;
  color: #0C0C0E;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  position: absolute;
  bottom: 25px;
  left: 175px;
  cursor: pointer;
}

.get {
  text-align: right;
  font-family: "Forum", cursive;
  font-size: 30px;
  letter-spacing: 0.6px;
}

.description {
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;
}

.sign-log {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.signlog-button {
  box-sizing: border-box;
  width: 75px;
  height: 30px;
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  cursor: pointer;
}

.signlog-button:first-child {
  margin-right: 20px;
}

/* Digital library cards style end */


/* Footer style start */

.footer {
  width: 1440px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  height: 250px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0C0C0E;
}

.address-time {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 0;
}

.address {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin-top: 0;
}

.address-link {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin-top: 0;
  cursor: pointer;
  text-decoration: none;
}

.address-link:hover, .address-link:active, .address-link:focus {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

.time, .time-two {
  color: #fff;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin-top: 0;
  margin-bottom: 10px;
}

.time-two {
  margin-top: -5px;
}

.links-time {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.links-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-link {
  margin-right: 15px;
  padding: 0;
}

.social-link:last-child {
  margin: 0;
}

.footer-line {
  content: " ";
  background: #fff;
  color: #fff;
  width: 1400px;
  height: 1px;
  text-align: center;
  margin-top: 5px;
}

.my-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.year {
  color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  margin-right: 170px;
  margin-bottom: auto;
}

.rs-school {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: auto;
}

.rsschool-link {
  color: #fff;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

.rsschool-link:hover, .rsschool-link:active, .rsschool-link:focus {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

.github {
  color: #fff;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: auto;
}

.github-link {
  color: #fff;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.github-link:hover, .github-link:active, .github-link:focus {
  opacity: .75;
  text-decoration: underline;
  transition-duration: 1s;
}

/* Footer style end */
