html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Inter", sans-serif;;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: #000;
  background-color: #000;
}

h2 {
  display: flex;
  position: relative;
  justify-content: center;
  color: #0C0C0E;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 20px;
  margin: 0;
}

h2::after {
  display: flex;
  flex-shrink: 0;
  content: " ";
  background: #0C0C0E;
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -20px;
}

/* Header style start */

.header-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  margin-left: 20px;
  flex-grow: 1;
}

h1 {
  color: #FFF;
  font-family: "Forum", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
}

.header-item {
  margin-right: 30px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;;
}

.header-link {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
}

.header-link:hover, .header-link:focus, .header-link:active {
  opacity: .75;
  text-decoration: underline;
}

/* Header style end */


/* Welcome style start */

.welcome {
  box-sizing: border-box;
  height: 600px;
  background: url(Welcome.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.welcome-plate {
  position: absolute;
  display: flex;
  top: 220px;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  justify-content: center;
  align-items: center;
  background-color: #0C0C0E;
}

.welcome-plate-text {
  color: #FFF;
  text-align: center;
  font-family: "Forum", cursive;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Welcome style end */

.main-info {
  box-sizing: border-box;
  width: 1440px;
  margin: auto;
  background-color: #FFF;
  margin-top: 0;
}

/* About style start */

.about-library {
  text-align: center;
  margin-top: 60px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}


.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 78px;
  height: 26px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.page-buttons-bg {
  position: relative;
  height: 26px;
  width: 26px;
  background-color: #ffffff00;
}

.page-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  display: inline-block;
}

.page-buttons-bg:hover {
  cursor: pointer;
  .page-buttons {
    background-color: #BB945F;
  }
}


/* About style end */

/* Favorites style start */

.favorites-choice {
  color: #000;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.radio-choice {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
  width: 700px;
  justify-content: flex-start;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: normal;
}

.radio-style:hover, label:hover {
  cursor: pointer;
}

.radio-button {
  position: relative;
  margin-right: 127px;
}

.radio-style {
  position: absolute;
  top: 5px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}

.radio-button:first-child {
  margin-left: 37px;
}

.radio-button:last-child {
  margin-right: auto;
}

input[type="radio"]:checked + label {
  font-weight: 700;
}

input[type="radio"] {
	appearance: none;
}

input[type="radio"] {
	appearance: none;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #000;
}

.book-list {
  display: flex;
  width: 1400px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 40px;
}

.book {
  position: relative;
  width: 550px;
  box-sizing: border-box;
  border: 1px solid #000;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.staff-picks {
  position: relative;
  font-family: "Forum", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 0;
  margin-top: 0;
}

.staff-picks::after {
  display: flex;
  flex-shrink: 0;
  content: " ";
  background: #BB945F;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: -1px;
}

.book-name {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

.book-author {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
}

.book-description {
  width: 355px;
  margin-bottom: 60px;
  margin-right: 15px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.buy-button, .own-button {
  box-sizing: border-box;
  padding: 9px 27px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15px;
  left: 20px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #BB945F;
  border: none;
  transition-duration: 2s;
}

.own-button {
  padding: 9px 25px;
  border: 1px solid #BB945F;
  color: #BB945F;
  cursor: auto;
}

.book-cover {
  position: absolute;
  bottom: 0;
  right: -40px;
  bottom: -1px
}



/* Favorites style end */

/* Coffee shop style start */
/* Coffee shop style end */

/* Our contacts style start */
/* Our contacts style end */

/* Digital library cards style start */
/* Digital library cards style end */

/* Footer style start */
/* Footer style end */